In [1]:
import pandas as pd
import os

In [5]:
directory = r'C:\Users\jgutierrez125\OneDrive - California State University Chico\04 - Projects\03 - Summer review\2025'
files = os.listdir(directory)
files

['Course Enrollment History - Data from Dashboard.xlsx',
 'Procedure to create Summer Report.docx',
 'Todos.xlsx']

In [6]:
path = directory + '/Todos.xlsx'
data = pd.read_excel(path)

In [7]:
data

,College,Department,Course Subject and Number,College Year,Term,Course Catalog Title,Number of Sections,Class Enrollment Max,Class Enrollment Min,Student Class Enrollment Count,Total Head Count Class Census,State Support Head Count Class Census,Total FTES Class Census,State Support FTES Class Census,Student Credit Hour Production,Course Component WTU,Student Class Wait List Count,Class Wait List Max,Student Class Drop Count,Student Class Drop Count After Census
0,Agriculture,Agriculture,ABUS 389,2025-26,Summer 2025,Internship in Agribusiness,3,60,0,8,8,8,0.000000,0.0,0.0,0.0,0,60,0,0
1,NaN,NaN,NaN,NaN,NaN,Total,3,60,0,8,8,8,0.000000,0.0,0.0,0.0,0,60,0,0
2,NaN,NaN,NaN,NaN,Total,Total,3,60,0,8,8,8,0.000000,0.0,0.0,0.0,0,60,0,0
3,NaN,NaN,NaN,Total,Total,Total,3,60,0,8,8,8,0.000000,0.0,0.0,0.0,0,60,0,0
4,NaN,NaN,ABUS 390,2025-26,Summer 2025,World Food and Hunger Issues,1,60,0,45,45,44,9.000000,8.8,135.0,3.0,0,60,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,NaN,NaN,NaN,NaN,Total,Total,1,49,0,1,1,0,0.000000,0.0,0.0,0.0,0,49,0,0
837,NaN,NaN,NaN,Total,Total,Total,1,49,0,1,1,0,0.000000,0.0,0.0,0.0,0,49,0,0
838,NaN,NaN,Total,Total,Total,Total,13,1391,0,51,51,0,16.466667,0.0,247.0,6.0,0,49,1,0
839,NaN,Total,Total,Total,Total,Total,13,1391,0,51,51,0,16.466667,0.0,247.0,6.0,0,49,1,0
840,Grand Total,Total,Total,Total,Total,Total,309,34168,0,6051,6051,4592,1151.766667,851.8,17069.5,711.0,312,5685,506,0

In [12]:
data_filtered = data.dropna(subset=['Course Subject and Number'],ignore_index=True)

In [13]:
data_filtered

,College,Department,Course Subject and Number,College Year,Term,Course Catalog Title,Number of Sections,Class Enrollment Max,Class Enrollment Min,Student Class Enrollment Count,Total Head Count Class Census,State Support Head Count Class Census,Total FTES Class Census,State Support FTES Class Census,Student Credit Hour Production,Course Component WTU,Student Class Wait List Count,Class Wait List Max,Student Class Drop Count,Student Class Drop Count After Census
0,Agriculture,Agriculture,ABUS 389,2025-26,Summer 2025,Internship in Agribusiness,3,60,0,8,8,8,0.000000,0.0,0.0,0.0,0,60,0,0
1,NaN,NaN,ABUS 390,2025-26,Summer 2025,World Food and Hunger Issues,1,60,0,45,45,44,9.000000,8.8,135.0,3.0,0,60,5,0
2,NaN,NaN,AGED 600,2025-26,Summer 2025,Research Methodology in Agricultural Education,1,10,0,0,0,0,0.000000,0.0,0.0,0.0,0,0,0,0
3,NaN,NaN,AGED 607,2025-26,Summer 2025,"Agricultural Education Foundations, History, a...",1,6,0,1,1,0,0.200000,0.0,3.0,0.0,0,0,0,0
4,NaN,NaN,AGED 608,2025-26,Summer 2025,Teaching Diverse Learners in Agricultural Educ...,1,25,0,11,11,0,2.200000,0.0,33.0,3.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,NaN,NaN,INTD 817,2025-26,Summer 2025,Multi-Disciplinary Professional Development,4,120,0,3,3,0,0.533333,0.0,8.0,0.0,0,0,0,0
240,NaN,NaN,UNIV 110,2025-26,Summer 2025,Intrasystem Visitor Program,1,49,0,1,1,0,0.000000,0.0,0.0,0.0,0,49,0,0
241,NaN,NaN,Total,Total,Total,Total,13,1391,0,51,51,0,16.466667,0.0,247.0,6.0,0,49,1,0
242,NaN,Total,Total,Total,Total,Total,13,1391,0,51,51,0,16.466667,0.0,247.0,6.0,0,49,1,0
243,Grand Total,Total,Total,Total,Total,Total,309,34168,0,6051,6051,4592,1151.766667,851.8,17069.5,711.0,312,5685,506,0

In [14]:
data_filtered['College'] = data_filtered['College'].fillna(method = 'ffill')

C:\Users\jgutierrez125\AppData\Local\Temp\ipykernel_27072\2007952344.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data_filtered['College'] = data_filtered['College'].fillna(method = 'ffill')
C:\Users\jgutierrez125\AppData\Local\Temp\ipykernel_27072\2007952344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered['College'] = data_filtered['College'].fillna(method = 'ffill')

In [15]:
data_filtered

,College,Department,Course Subject and Number,College Year,Term,Course Catalog Title,Number of Sections,Class Enrollment Max,Class Enrollment Min,Student Class Enrollment Count,Total Head Count Class Census,State Support Head Count Class Census,Total FTES Class Census,State Support FTES Class Census,Student Credit Hour Production,Course Component WTU,Student Class Wait List Count,Class Wait List Max,Student Class Drop Count,Student Class Drop Count After Census
0,Agriculture,Agriculture,ABUS 389,2025-26,Summer 2025,Internship in Agribusiness,3,60,0,8,8,8,0.000000,0.0,0.0,0.0,0,60,0,0
1,Agriculture,NaN,ABUS 390,2025-26,Summer 2025,World Food and Hunger Issues,1,60,0,45,45,44,9.000000,8.8,135.0,3.0,0,60,5,0
2,Agriculture,NaN,AGED 600,2025-26,Summer 2025,Research Methodology in Agricultural Education,1,10,0,0,0,0,0.000000,0.0,0.0,0.0,0,0,0,0
3,Agriculture,NaN,AGED 607,2025-26,Summer 2025,"Agricultural Education Foundations, History, a...",1,6,0,1,1,0,0.200000,0.0,3.0,0.0,0,0,0,0
4,Agriculture,NaN,AGED 608,2025-26,Summer 2025,Teaching Diverse Learners in Agricultural Educ...,1,25,0,11,11,0,2.200000,0.0,33.0,3.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,Undergraduate Education,NaN,INTD 817,2025-26,Summer 2025,Multi-Disciplinary Professional Development,4,120,0,3,3,0,0.533333,0.0,8.0,0.0,0,0,0,0
240,Undergraduate Education,NaN,UNIV 110,2025-26,Summer 2025,Intrasystem Visitor Program,1,49,0,1,1,0,0.000000,0.0,0.0,0.0,0,49,0,0
241,Undergraduate Education,NaN,Total,Total,Total,Total,13,1391,0,51,51,0,16.466667,0.0,247.0,6.0,0,49,1,0
242,Undergraduate Education,Total,Total,Total,Total,Total,13,1391,0,51,51,0,16.466667,0.0,247.0,6.0,0,49,1,0
243,Grand Total,Total,Total,Total,Total,Total,309,34168,0,6051,6051,4592,1151.766667,851.8,17069.5,711.0,312,5685,506,0

In [16]:
columns_to_keep = ['College', 'Course Subject and Number', 'Term', 'Course Catalog Title', 'Total Head Count Class Census']

In [17]:
new_df = data_filtered[columns_to_keep]

In [18]:
new_df

,College,Course Subject and Number,Term,Course Catalog Title,Total Head Count Class Census
0,Agriculture,ABUS 389,Summer 2025,Internship in Agribusiness,8
1,Agriculture,ABUS 390,Summer 2025,World Food and Hunger Issues,45
2,Agriculture,AGED 600,Summer 2025,Research Methodology in Agricultural Education,0
3,Agriculture,AGED 607,Summer 2025,"Agricultural Education Foundations, History, a...",1
4,Agriculture,AGED 608,Summer 2025,Teaching Diverse Learners in Agricultural Educ...,11
...,...,...,...,...,...
239,Undergraduate Education,INTD 817,Summer 2025,Multi-Disciplinary Professional Development,3
240,Undergraduate Education,UNIV 110,Summer 2025,Intrasystem Visitor Program,1
241,Undergraduate Education,Total,Total,Total,51
242,Undergraduate Education,Total,Total,Total,51
243,Grand Total,Total,Total,Total,6051

In [ ]:
def classify_course_level(course_code):
    try:
        parts = course_code.split()
        if len(parts) != 2:
            return 'Unknown'
        
        number_part = parts[1]

        first_digit = number_part[0]

        if first_digit == '1' or first_digit == '2':
            return 'Lower Division'
        elif first_digit == '3' or first_digit == '4':
            return 'Upper Division'
        elif first_digit.isdigit() and first_digit > 4:
            return 'Graduate'
        else:
            'Unknown'

    except:
        return 'Unknown'